
@media (max-width: 1399px) {
/*
========================================
Start Header Section Css
========================================
*/

/*
====================
Start Hero
====================
*/
.hero-title h1{
	font-size: 55px;
}

.hero-title p{
	font-size: 20px;
}
/*
====================
End Hero
====================
*/

/*
========================================
End Header Section Css
========================================
*/
}

@media (max-width: 1199px) {

/*
========================================
Start Header Section Css
========================================
*/
.main-menu{
    padding-left: 50px !important;
}
/*
====================
Start Hero
====================
*/
.hero-content a {
    padding: 25px 55px;
}
/*
====================
End Hero
====================
*/

/*
========================================
End Header Section Css
========================================
*/

/*
========================================
Start Course Categories Section Css
========================================
*/
.categories-row {
    margin-left: -12px;
    margin-right: -12px;
}

.categories-row > *{
  padding-left:12px;
  padding-right:12px;
  margin-top:24px;
}
/*
========================================
End Course Categories Section Css
========================================
*/

/*
========================================
Start Top Courses  Section Css
========================================
*/
.top-courses-row{
  margin-left:-12px;
  margin-right:-12px;
}

.top-courses-row > *{
  padding-left:12px;
  padding-right:12px;
  margin-bottom: 24px;
}

.top-courses-item {
  	min-height: 304px;
}

.top-courses-specefication{
	padding-right: 23px;
}
/*
========================================
End Top Courses  Section Css
========================================
*/

/*
========================================
Start Best Sell Section Css
========================================
*/
.best-sell-row {
    margin-right: -12px;
    margin-left: -12px;
}

.best-sell-row > *{
  padding-left:12px;
  padding-right:12px;
  margin-bottom: 24px;
}

.best-sell-specefication{
	padding-right: 24px;
}
/*
========================================
End Best Sell Section Css
========================================
*/

/*
========================================
Start Brand Section Css
========================================
*/
.brand-swiper{
  width: 85%;
}
/*
========================================
Start Brand Section Css
========================================
*/
/*
========================================
Start Footer Section Css
========================================
*/
.address-col{
	width: 33.3333333333%;
}

.help-col,
.about-col,
.tools-col,
.touch-col{
	width: 16.583%;
}
/*
========================================
End Footer Section Css
========================================
*/

}

@media (max-width: 991px) {

/*
========================================
Start Header Section Css
========================================
*/
.nav{
    min-height: 80px;
	position: relative;
	padding-top: 0px;
    align-items: center;
	line-height: 60px;
    display: flex;
	padding-bottom: 0px;
}
.navbar {
     padding-top: 0px !important; 
     padding-bottom: 0px !important; 
}

/*
=======================
Start Toggle Seach Bar
=======================
*/
.search-form .search-field {
    padding: 0px 14px !important;
}
.search-form .search-submit {
    padding: 0px 10px !important;
}
/*
=======================
End Toggle Seach Bar
=======================
*/

/*
=====================
Start Hamburger Menu
=====================
*/
.site-navbar ul {
  height: calc(100vh - 80px);
  top: 79px;
}
/*
=====================
End Hamburger Menu
=====================
*/
/*
====================
Start Hero
====================
*/
.hero-content {
	padding-top: 70px;
}
.hero-title h1 {
  	font-size: 45px;
}
.hero-title p {
    font-size: 18px;
}
/*
====================
End Hero
====================
*/

/*
=====================
  Start Hamburger Menu
  =====================
*/
  .hamburger-menu {
    display: block;
  }
  .site-navbar {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
  /*
  =====================
  End Hamburger Menu
  =====================
  */

  /*
	===================================
	Start Sticky Menu
	===================================
	*/

	.sticky{
	  padding-top: 0px !important;
      padding-bottom: 0px !important;
	}
	/*
	===================================
	End Sticky Menu
	===================================
	*/

/*
========================================
Start Header Section Css
========================================
*/

/*
========================================
Start Course Categories Section Css
========================================
*/
.course-categories {
   padding-top: 50px; 
   padding-bottom: 60px; 
}

.categories-row {
    margin-top: 60px;	
}
/*
========================================
End Course Categories Section Css
========================================
*/

/*
========================================
Start Top Courses  Section Css
========================================
*/
.top-courses {
    padding-top: 55px;
    padding-bottom: 35px;
}
.top-courses-row{
	margin-top: 55px;
}
.top-courses-btn a,
.best-sell-btn a{
  	padding: 17px 38px;
}
.top-courses-item {
  	min-height: 520px;
}

/*
========================================
End Top Courses  Section Css
========================================
*/

/*
========================================
Start Popular Course Section Css
========================================
*/
.popular-course {
   	padding-top: 55px; 
    padding-bottom: 60px;
}

.popular-course-row {
    margin-right: -12px;
    margin-left: -12px;
    margin-top: 20px;
}

.popular-course-row > *{
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
}
/*
========================================
End Popular Course Section Css
========================================
*/

/*
========================================
Start Best Sell Section Css
========================================
*/
.best-sell {
    padding-top: 60px;
    padding-bottom: 35px;
}

.best-sell-row {
    margin-top: 55px;
}
/*
========================================
End Best Sell Section Css
========================================
*/

/*
========================================
Start Achieve Goals Section Css
========================================
*/
.achieve-goals {
  	padding-top: 55px;
    padding-bottom: 60px;
}

.achieve-goals-row {
    margin-top: 35px;
}
/*
========================================
End Achieve Goals Section Css
========================================
*/

/*
========================================
Start  clients-appriciation Section Css
========================================
*/
.clients-appriciation {
     padding-top: 55px; 
}

.clients-appriciation-row {
    margin-top: 55px;
}

.clients-appriciation-row .col-md-6:first-child{
	padding-bottom: 60px;
}

.blockquote-desc{
	padding-left: 0px;
}

.video-col{
	padding-bottom: 60px;
}

/*
========================================
End  clients-appriciation Section Css
========================================
*/

/*
========================================
Start Blog Section Css
========================================
*/
.blog-seciton {
    padding-top: 55px;
    padding-bottom: 60px;
}

.blog-title{
	margin-bottom: 60px;
}
/*
========================================
End Blog Section Css
========================================
*/

/*
========================================
Start Become Instructor Css
========================================
*/

.become-instructor {
  	padding-top: 50px;
  	padding-bottom: 60px;
}

.form-area form {
    width: 580px;
}

input[type="text"] {
    width: 58%;
}

/*
========================================
End Become Instructor Section Css
========================================
*/

/*
========================================
Start Footer Section Css
========================================
*/
.footer {
	padding-top: 70px;
	padding-bottom: 70px;
}
.footer-row > *{
	margin-bottom: 24px;
}
.address-col{
	width: 33.3333333333%;
}

.help-col,
.about-col{
	width: 33.3333333333%;
}

.tools-col,
.touch-col{
	width: 33.3333333333%;
}	
/*
========================================
End Footer Section Css
========================================
*/
}

@media (max-width: 767px) {

/*
========================================
Start Reusable Components
========================================
*/
.mt-sm-05{
	margin-top: 5px;
}
.mt-sm-10{
	margin-top: 10px;
}
/*
========================================
End Reusable Components
========================================
*/

/*
========================================
Start Header Section Css
========================================
*/

/*
=======================
Start Toggle Seach Bar
=======================
*/
.header-search-wrapper .search-form-main {
    width: 300px;
}
.search-form-main .search-form {
    padding: 12px;
}
.search-form .search-submit {
    padding: 0px 0px !important;
}
/*
=======================
End Toggle Seach Bar
=======================
*/


====================
Start Hero
====================

.hero-content a {
    padding: 20px 40px;
    font-size: 15px;
}
/*
====================
End Hero
====================
*/

/*
========================================
End Header Section Css
========================================
*/

/*
========================================
Start Course Categories Section Css
========================================
*/
.top-border, 
.bottom-border{
    width: 100%;   
}

.left-border, 
.right-border{
	height: 100%;
}

/*
========================================
End Course Categories Section Css
========================================
*/

/*
========================================
Start Top Courses  Section Css
========================================
*/
.top-courses-desc p {
  	width: 78%;
    margin-left: auto;
    margin-right: auto;
}
/*
========================================
End Top Courses  Section Css
========================================
*/

/*
========================================
Start Popular Course Section Css
========================================
*/
.popular-course-title p {
    width: 70%;
    margin-left: auto;
    margin-top: 18px;
    margin-right: auto;
}
/*
========================================
End Popular Course Section Css
========================================
*/

/*
========================================
Start Best Sell Section Css
========================================
*/
.best-sell-title p {
    margin-right: auto;
    margin-left: auto;
}
.best-sell-item{
	min-height: 497px;
}
/*
========================================
End Best Sell Section Css
========================================
*/

/*
========================================
Start Achieve Goals Section Css
========================================
*/
.achieve-goals-title p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.achieve-goals-list{
	padding-bottom: 45px;
	padding-top: 50px;
}
/*
========================================
End Achieve Goals Section Css
========================================
*/

/*
========================================
Start  clients-appriciation Section Css
========================================
*/
.clients-appriciation-title p {
    width: 70%;
    margin-left: auto;
 	margin-right: auto;
}
.blockquote-desc {
    width: 92%;
}
/*
========================================
End  clients-appriciation Section Css
========================================
*/

/*
========================================
Start Blog Section Css
========================================
*/
.blog-title p {
    width: 75%;
}
.blog-desc {
    padding-left: 25px;
    padding-right: 25px;
}
.love-comment{
	margin-top: 5px;
}
/*
========================================
End Blog Section Css
========================================
*/

/*
========================================
Start Become Instructor Css
========================================
*/
.form-area form {
    width: 100%;
}
input[type="text"]{
    width: 57%;
}
/*
========================================
End Become Instructor Section Css
========================================
*/

/*
========================================
Start Footer Section Css
========================================
*/
.address-col,
.help-col,
.about-col,
.tools-col,
.touch-col{
	width: 50% !important;
}
.footer-bottom{
	margin-top: 30px;
}

/*
========================================
End Footer Section Css
========================================
*/
}

@media (max-width: 575px) {

/*
========================================
Start Reusable Components
========================================
*/
.px-xs-12{
	padding-left: 12px !important;
	padding-right: 12px !important;
}
/*
========================================
End Reusable Components
========================================
*/

/*
========================================
Start Header Section Css
========================================
*/
.logo img{
    width: 100px;
}
.login-signup li:last-child{
    margin-right: 20px !important;
}
.login-signup li:first-child{
    margin-right: 5px !important;
}

/*
=======================
Start Toggle Seach Bar
=======================
*/
.search-form-main [type=text]{
    background: #fff !important;
}
.header-search-wrapper .search-main {
     padding: 0px 10px;
}
.header-search-wrapper .search-form-main {
    right: -12px;
}
/*
=======================
End Toggle Seach Bar
=======================
*/
/*
====================
Start Hero
====================
*/
.hero-title h1 {
    font-size: 38px;
}
.hero-title p {
    margin-bottom: 35px;
}
.hero-content a {
    padding: 20px 36px;
    font-size: 14px;
}
/*
====================
End Hero
====================
*/

/*
========================================
End Header Section Css
========================================
*/

/*
========================================
Start Course Categories Section Css
========================================
*/
.categories-row {
    margin-left: 0px;
    margin-right: 0px;
}
.categories-title h2{
	font-size: 30px;
}
.categories-title h2::after {
    top: 50px;
}
/*
========================================
End Course Categories Section Css
========================================
*/

/*
========================================
Start Top Courses  Section Css
========================================
*/
.top-courses-row {
    margin-left: 0px;
    margin-right: 0px;
}
.top-courses-item {
    min-height: auto;
}
.top-courses-specefication {
    padding-bottom: 40px;
    padding-left: 20px;
}
.top-courses-specefication p{
    margin-top: 15px;
}
/*
========================================
End Top Courses  Section Css
========================================
*/

/*
========================================
Start Popular Course Section Css
========================================
*/
.popular-course-row {
    margin-right: 0px;
    margin-left: 0px;
}
.popular-course-row > * {
    margin-bottom: 0px;
}
/*
========================================
End Popular Course Section Css
========================================
*/

/*
========================================
Start Best Sell Section Css
========================================
*/
.best-sell-title p {
    width: 77%;
}
.best-sell-row {
    margin-right: 0px;
    margin-left: 0px;
}
.best-sell-item {
    min-height: auto;
}
.best-sell-specefication {
    padding-left: 24px;
}
.best-sell-specefication p{
    margin-top: 15px;
}
/*
========================================
End Best Sell Section Css
========================================
*/

/*
========================================
Start Achieve Goals Section Css
========================================
*/
.achieve-goals-row{
	margin-left: 0px;
	margin-right: 0px;
}
.achieve-goals-row > *{
	padding-left: 12px;
	padding-right: 12px;
}
/*
========================================
End Achieve Goals Section Css
========================================
*/

/*
========================================
Start  clients-appriciation Section Css
========================================
*/
.clients-appriciation-row {
    margin-top: 45px;
    margin-right: 0px;
    margin-left: 0px;
}
.clients-appriciation-row > *{
	padding-left: 12px;
	padding-right: 12px;
}
.blockquote-desc {
    width: 98%;
}
.clients-appriciation-desc img {
	top: 0;
	left: 20px;
	}
/*
========================================
End  clients-appriciation Section Css
========================================
*/

/*
========================================
Start Brand Section Css
========================================
*/
.brand-section {
    padding-top: 25px;
}
.brand-title span{
	font-size: 25px;
}
/*
========================================
End Brand Section Css
========================================
*/

/*
========================================
Start Blog Section Css
========================================
*/
.blog-container{
	padding-left: 12px;
	padding-right: 12px;
}
/*
========================================
End Blog Section Css
========================================
*/

/*
========================================
Start Become Instructor Css
========================================
*/
.newslatter-container{
	padding-left: 12px;
	padding-right: 12px;
}
.form-title h2{
	font-size: 30px;
}
input[type="text"] {
	margin-left: 6%;
 	    width: 62%;
    background: transparent;
}
.form-area form input[type=submit] {
    font-size: 14px;
    width: 30%;
}
/*
========================================
End Become Instructor Section Css
========================================
*/

/*
========================================
Start Footer Section Css
========================================
*/
.footer-container{
	padding-left: 12px;
	padding-right: 12px;
}
.address-col,
.help-col,
.about-col,
.tools-col,
.touch-col,
.footer-bottom{
	width: 100% !important;
}

/*
========================================
End Footer Section Css
========================================
*/
}

@media (max-width: 410px) {

/*
=======================
Start Toggle Seach Bar
=======================
*/
.search-form-main .search-form {
    padding: 7px;
}
.header-search-wrapper .search-form-main {
    width: 220px;
}
.search-form .search-submit {
    font-size: 11px;
    padding: 0px 10px;
    height: 50px;
    line-height: 45px;
}
.search-form .search-field {
    padding: 0px 5px !important;
    height: 50px;
}

/*
=======================
End Toggle Seach Bar
=======================
*/

}
