

@media (max-width: 1399px) {
	/*
	========================================
	Start Header Section Css
	========================================
	*/

	/*
	====================
	Start Hero
	====================
	*/
	.hero-title h1{
		font-size: 55px;
	}

	.hero-title p{
		font-size: 20px;
	}
	/*
	====================
	End Hero
	====================
	*/

	/*
	========================================
	End Header Section Css
	========================================
	*/
}

@media (max-width: 1199px) {

	/*
	========================================
	Start Header Section Css
	========================================
	*/

	/*
	====================
	Start Hero
	====================
	*/
	.hero-content a {
	    padding: 25px 55px;
	}
	/*
	====================
	End Hero
	====================
	*/

	/*
	========================================
	End Header Section Css
	========================================
	*/

	/*
	========================================
	Start Course Categories Section Css
	========================================
	*/
	.categories-row {
	    margin-left: -12px;
	    margin-right: -12px;
	}

	.categories-row > *{
	  padding-left:12px;
	  padding-right:12px;
	  margin-top:24px;
	}
	/*
	========================================
	End Course Categories Section Css
	========================================
	*/

	/*
	========================================
	Start Top Courses  Section Css
	========================================
	*/
	.top-courses-row{
	  margin-left:-12px;
	  margin-right:-12px;
	}

	.top-courses-row > *{
	  padding-left:12px;
	  padding-right:12px;
	  margin-bottom: 24px;
	}

	.top-courses-item {
    	min-height: 304px;
	}

	.top-courses-specefication{
		padding-right: 23px;
	}
	/*
	========================================
	End Top Courses  Section Css
	========================================
	*/

	/*
	========================================
	Start Best Sell Section Css
	========================================
	*/
	.best-sell-row {
	    margin-right: -12px;
	    margin-left: -12px;
	}

	.best-sell-row > *{
	  padding-left:12px;
	  padding-right:12px;
	  margin-bottom: 24px;
	}

	.best-sell-specefication{
		padding-right: 24px;
	}
	/*
	========================================
	End Best Sell Section Css
	========================================
	*/

	/*
	========================================
	Start Footer Section Css
	========================================
	*/
	.address-col{
		width: 33.3333333333%;
	}

	.help-col,
	.about-col,
	.tools-col,
	.touch-col{
		width: 16.583%;
	}
	/*
	========================================
	End Footer Section Css
	========================================
	*/

}

@media (max-width: 991px) {

	/*
	========================================
	Start Header Section Css
	========================================
	*/

	/*
	====================
	Start Hero
	====================
	*/
	.hero-content {
		padding-top: 70px;
	}
	.hero-title h1 {
    	font-size: 45px;
	}
	.hero-title p {
	    font-size: 18px;
	}
	/*
	====================
	End Hero
	====================
	*/

	/*
	========================================
	Start Header Section Css
	========================================
	*/

	/*
	========================================
	Start Course Categories Section Css
	========================================
	*/
	.course-categories {
     padding-top: 50px; 
     padding-bottom: 60px; 
	}

	.categories-row {
	    margin-top: 60px;
	    margin-left: -8px;
	    margin-right: -8px;
	}
	/*
	========================================
	End Course Categories Section Css
	========================================
	*/

	/*
	========================================
	Start Top Courses  Section Css
	========================================
	*/
	.top-courses {
	    padding-top: 55px;
	    padding-bottom: 35px;
	}
	.top-courses-row{
		margin-top: 55px;
	}
	.top-courses-btn a,
	.best-sell-btn a{
    	padding: 17px 38px;
	}
	.top-courses-item {
    	min-height: 520px;
	}
	.freelancing-course{
		height: 225px;
		object-fit: cover;
		object-position: center;
	}
	/*
	========================================
	End Top Courses  Section Css
	========================================
	*/

	/*
	========================================
	Start Popular Course Section Css
	========================================
	*/
	.popular-course {
     	padding-top: 55px; 
	    padding-bottom: 60px;
	}

	.popular-course-row {
	    margin-right: -12px;
	    margin-left: -12px;
	    margin-top: 20px;
	}

	.popular-course-row > *{
	    padding-left: 12px;
	    padding-right: 12px;
	    margin-bottom: 24px;
	}
	/*
	========================================
	End Popular Course Section Css
	========================================
	*/

	/*
	========================================
	Start Best Sell Section Css
	========================================
	*/
	.best-sell {
	    padding-top: 60px;
	    padding-bottom: 35px;
	}

	.best-sell-row {
	    margin-top: 55px;
	}
	/*
	========================================
	End Best Sell Section Css
	========================================
	*/

	/*
	========================================
	Start Achieve Goals Section Css
	========================================
	*/
	.achieve-goals {
	  	padding-top: 55px;
	    padding-bottom: 60px;
	}

	.achieve-goals-row {
	    margin-top: 35px;
	}
	/*
	========================================
	End Achieve Goals Section Css
	========================================
	*/

	/*
	========================================
	Start  clients-appriciation Section Css
	========================================
	*/
	.clients-appriciation {
	     padding-top: 55px; 
	}

	.clients-appriciation-row {
	    margin-top: 55px;
	}

	.clients-appriciation-row .col-md-6:first-child{
		padding-bottom: 60px;
	}

	.blockquote-desc{
		padding-left: 0px;
	}

	.video-col{
		padding-bottom: 60px;
	}


	/*
	========================================
	End  clients-appriciation Section Css
	========================================
	*/

	/*
	========================================
	Start Blog Section Css
	========================================
	*/
	.blog-seciton {
	    padding-top: 55px;
	    padding-bottom: 60px;
	}

	.blog-title{
		margin-bottom: 60px;
	}
	/*
	========================================
	End Blog Section Css
	========================================
	*/

	/*
	========================================
	Start Become Instructor Css
	========================================
	*/

	.become-instructor {
    	padding-top: 50px;
    	padding-bottom: 60px;
	}

	.form-area form {
	    width: 580px;
	}

	input[type="text"] {
	    width: 58%;
	}

	/*
	========================================
	End Become Instructor Section Css
	========================================
	*/

	/*
	========================================
	Start Footer Section Css
	========================================
	*/
	.footer {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.footer-row > *{
		margin-bottom: 24px;
	}
	.address-col{
		width: 33.3333333333%;
	}

	.help-col,
	.about-col{
		width: 33.3333333333%;
	}

	.tools-col,
	.touch-col{
		width: 33.3333333333%;
	}	
	/*
	========================================
	End Footer Section Css
	========================================
	*/
}

@media (max-width: 767px) {

	/*
	========================================
	Start Header Section Css
	========================================
	*/

	/*
	====================
	Start Hero
	====================
	*/
	.hero-content a {
	    padding: 20px 40px;
	    font-size: 15px;
	}
	/*
	====================
	End Hero
	====================
	*/

	/*
	========================================
	End Header Section Css
	========================================
	*/

	/*
	========================================
	Start Course Categories Section Css
	========================================
	*/

	.top-border, 
	.bottom-border{
	    width: 100%;   
	}

	.left-border, 
	.right-border{
		height: 100%;
	}

	/*
	========================================
	End Course Categories Section Css
	========================================
	*/

	/*
	========================================
	Start Top Courses  Section Css
	========================================
	*/
	.top-courses-desc p {
    	width: 78%;
	    margin-left: auto;
	    margin-right: auto;
	}
	/*
	========================================
	End Top Courses  Section Css
	========================================
	*/

	/*
	========================================
	Start Popular Course Section Css
	========================================
	*/
	/*
	========================================
	End Popular Course Section Css
	========================================
	*/

	/*
	========================================
	Start Best Sell Section Css
	========================================
	*/
	/*
	========================================
	End Best Sell Section Css
	========================================
	*/

	/*
	========================================
	Start Achieve Goals Section Css
	========================================
	*/
	/*
	========================================
	End Achieve Goals Section Css
	========================================
	*/

	/*
	========================================
	Start  clients-appriciation Section Css
	========================================
	*/
	/*
	========================================
	End  clients-appriciation Section Css
	========================================
	*/

	/*
	========================================
	Start Brand Section Css
	========================================
	*/
	/*
	========================================
	End Brand Section Css
	========================================
	*/

	/*
	========================================
	Start Blog Section Css
	========================================
	*/
	/*
	========================================
	End Blog Section Css
	========================================
	*/

	/*
	========================================
	Start Become Instructor Css
	========================================
	*/
	/*
	========================================
	End Become Instructor Section Css
	========================================
	*/

	/*
	========================================
	Start Footer Section Css
	========================================
	*/
	/*
	========================================
	End Footer Section Css
	========================================
	*/
}

@media (max-width: 575px) {

}














